@import '../utils/constants.scss';

.page-message-container {
    padding: 16px;
    border-radius: 5px;
    box-shadow: $box-shadow 0px 1px 4px 0px;
    display: flex;
}

.info-border {
    border: 1px solid $blue-color;
}

.error-border {
    border: 1px solid $error;

}

.warn-border {
    border: 1px solid $warn;
}

.warn {
    color: $warn;
}

.info {
    color: $blue-color;
}

.error {
    color: $error;
}

.icon {
    font-size: 20px !important;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}

.page-message-content {
   flex-grow: 1;
}

.page-message-title {
    margin-top: 3px;
}

.page-message-button {
    padding: 0;
    margin-top: 0;
    position: relative;
    margin-right: 16px;
}

.page-message-button  i {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: $gray-black;
    
}