
$success: rgb(25, 127, 18);
$error: rgb(211, 45, 39);
$success-shadow: rgb(140, 191, 136);
$error-shadow: rgb(244, 202, 201);

$gray-black: rgb(141, 144, 150);
$disabled-field: rgb(198, 200, 203);
$gray-black-text : rgb(107, 108, 114);

$border-color:rgb(212, 215, 220);
$box-shadow:  rgba(0, 0, 0, 0.2);

p, div, label {
  font-family: Montserrat;
}