@import '../utils/constants.scss';


.button {
    padding: 8px 20px;
    border-radius: 5px;
}

.primary {
    background-color: $green-color;
    color: $white;
    outline: none;
}

.primary:hover {
    background-color: $green-color-hover;
}

.secondary {
    background-color: $dark-gray;
    color: black;
    outline: none;
}

.secondary:hover {
    background-color: $dark-gray-hover;
}

.noBorder {
    background: none;
}
