@import '../utils/constants.scss';

.radio-container, .checkbox-container {
  position: relative;
  font-size: 16px;
  padding-left: 26px;
  display: block;
  cursor: pointer;
  padding-bottom: 10px;
  display: table;
}

.radio-container input, .checkbox-container input {
  opacity: 0;
  position: absolute;
}

.radio-checkmark , .checkbox-checkmark {
  height: 18px;
  width: 18px;
  border: 1px solid $gray-black;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -1px;
}

.radio-container:hover input ~ .radio-checkmark, .checkbox-container:hover input ~ .checkbox-checkmark {
  border: 1px solid $green-color;

}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $green-color;
}

.checkbox-checkmark:after {
  content: "";
  left: 5px;
  bottom: 4px;
  width: 4px;
  height: 10px;
  transform: rotate(45deg);
  border: solid $green-color;
  border-width: 0px 3px 4px 0px;
  background: none;
  position: absolute;
  display: none;

}

.radio-container input:checked ~ .radio-checkmark, .checkbox-container input:checked ~ .checkbox-checkmark {
  border-color: $green-color;
}


.radio-container input:checked ~ .radio-checkmark:after, .checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

 .checkbox-checkmark:after {
  border-radius: 0%;
}

.checkbox-checkmark {
  border-radius: 2px;
}